<div [class.fade-out]="isFadingOut" class="visualization">
    <h2>Task Visualization</h2>
    <div class="controls">
      <label for="chartType">Chart Type:</label>
      <select id="chartType" [formControl]="chartTypeControl">
        <option value="pie">Pie Chart</option>
        <option value="heatmap">Heatmap</option>
        <option value="line">Line Chart</option>
      </select>
    </div>

    @if (chartTypeControl.value === 'pie') {
        <canvasjs-chart [options]="chartOptions"></canvasjs-chart>
    }
    @if (chartTypeControl.value === 'heatmap') {
        <div class="heatmap">
            <div style="text-align: center; color:red;">Heatmap will arrive as soon as it's ready!</div>
            
        <!-- Heatmap would go here, use a library like ApexCharts for this -->
    </div>
    }
    @if (chartTypeControl.value === 'line') {
        <canvasjs-chart [options]="chartOptions"></canvasjs-chart>
    }

</div>
<div style="text-align: center; color:red;">
    this is using dummy data. this feature will be available soon
</div>
