<footer class="footer">
    <p>
      This is a work in progress. I am making this for a calming to-do app that isn't cluttered. I am making this for fun, and it's only me. Right now, this only uses local storage. I don't have the means to add data handling at this time. 
      If you would like to ask any questions or connect with me, please reach out or follow me on Bluesky:
      <a href="https://bsky.app/profile/smileforkirk.bsky.social" target="_blank">&#64;smileforkirk.bsky.social</a>
    </p>
  </footer>
  